Let's create a DataFrame

In [52]:
import pandas as pd

iris = pd.read_csv("iris-write-from-docker.csv")
#Now let's look at the type of iris object.
print(type(iris))

<class 'pandas.core.frame.DataFrame'>

What columns does the DataFrame consist of?

In [53]:
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class'], dtype='object')

Let's look at the first 10 lines of the iris.

In [54]:
iris.head(10)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa
7           5.0          3.4           1.5          0.2  Iris-setosa
8           4.4          2.9           1.4          0.2  Iris-setosa
9           4.9          3.1           1.5          0.1  Iris-setosa

Let's look at the last 10 lines of the iris.

In [55]:
iris.tail(10)

     sepal_length  sepal_width  petal_length  petal_width           class
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

Let's find out the size of the data.

In [56]:
iris.shape

(150, 5)

Another method where we can get information about the data frame is the .info() method. This method gives us values such as the data type of the columns, the number of rows in the data frame, the number of data in each column.

In [57]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

We can use the .copy() method to transfer a dataframe to another dataframe.

In [58]:
iris_new = iris.copy()
iris_new.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

We can implement the methods valid for Numpy in pandas dataframes as well. For example, we can apply the .log() method in the Numpy package to find the natural logarithm of values in a data frame consisting of numeric values.

In [59]:
#Let's first select the numeric columns of the iris dataframe.
import numpy as np
arr = iris.iloc[:,[0,1,2,3]]
arr_log = np.log(arr)
arr_log

     sepal_length  sepal_width  petal_length  petal_width
0        1.629241     1.252763      0.336472    -1.609438
1        1.589235     1.098612      0.336472    -1.609438
2        1.547563     1.163151      0.262364    -1.609438
3        1.526056     1.131402      0.405465    -1.609438
4        1.609438     1.280934      0.336472    -1.609438
..            ...          ...           ...          ...
145      1.902108     1.098612      1.648659     0.832909
146      1.840550     0.916291      1.609438     0.641854
147      1.871802     1.098612      1.648659     0.693147
148      1.824549     1.223775      1.686399     0.832909
149      1.774952     1.098612      1.629241     0.587787

[150 rows x 4 columns]

CHOOSING IN A DATAFRAME

In [60]:
iris["sepal_length"]

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

If we use single square brackets next to the data set, it will download the data in the column as one-dimensional. You can also think of it as a list. As a matter of fact, when we examine the type of data we have drawn in this way, we see that it is a one-dimensional Series data type.

In [61]:
type(iris["sepal_length"])

pandas.core.series.Series

If we want the column we want to act as a data frame, we need to write the column name in two square brackets.

In [62]:
print(type(iris[["sepal_length"]]))
iris[["sepal_length"]]

<class 'pandas.core.frame.DataFrame'>

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

It is possible to see more than one column.

In [63]:
iris[["sepal_length","sepal_width"]]

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

We've seen selecting columns, now let's see selecting rows.

In [64]:
iris[2:5]

   sepal_length  sepal_width  petal_length  petal_width        class
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Now let's want to see the information of the 5th row. For this, we use the .loc[] method and the desired row's name is given as a parameter.

In [65]:
#Series
iris.loc[5]

sepal_length            5.4
sepal_width             3.9
petal_length            1.7
petal_width             0.4
class           Iris-setosa
Name: 5, dtype: object

In [66]:
iris.loc[[5]]

   sepal_length  sepal_width  petal_length  petal_width        class
5           5.4          3.9           1.7          0.4  Iris-setosa

In [67]:
#multiple line selection
iris.loc[[5,6]]

   sepal_length  sepal_width  petal_length  petal_width        class
5           5.4          3.9           1.7          0.4  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

In [68]:
iris["petal_length"][5]

1.7

In [69]:
#different spelling
iris.petal_length[5]

1.7

In [70]:
iris.loc[5,"class"]

'Iris-setosa'

In [71]:
iris.loc[[1,2,3,4,5],["petal_length","petal_width","class"]]

   petal_length  petal_width        class
1           1.4          0.2  Iris-setosa
2           1.3          0.2  Iris-setosa
3           1.5          0.2  Iris-setosa
4           1.4          0.2  Iris-setosa
5           1.7          0.4  Iris-setosa

In [72]:
iris.loc[:,["sepal_length","class"]]

     sepal_length           class
0             5.1     Iris-setosa
1             4.9     Iris-setosa
2             4.7     Iris-setosa
3             4.6     Iris-setosa
4             5.0     Iris-setosa
..            ...             ...
145           6.7  Iris-virginica
146           6.3  Iris-virginica
147           6.5  Iris-virginica
148           6.2  Iris-virginica
149           5.9  Iris-virginica

[150 rows x 2 columns]

The .iloc[] function is used to select index numbers instead of row and column names.

In [73]:
iris.iloc[1]

sepal_length            4.9
sepal_width             3.0
petal_length            1.4
petal_width             0.2
class           Iris-setosa
Name: 1, dtype: object

In [74]:
iris.iloc[[1]]

   sepal_length  sepal_width  petal_length  petal_width        class
1           4.9          3.0           1.4          0.2  Iris-setosa

In [75]:
iris.iloc[6,1]

3.4

In [76]:
iris.iloc[[1,2,3,6]]

   sepal_length  sepal_width  petal_length  petal_width        class
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
6           4.6          3.4           1.4          0.3  Iris-setosa

To select multiple rows and columns, just like in the .loc[] function, but this time with row and column index numbers.

In [77]:
iris.iloc[[1,2,3],[2,3]]

   petal_length  petal_width
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2

It is possible to use column names and index numbers together.

In [78]:
iris["class"][0:5]

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [79]:
iris[["sepal_length","sepal_width"]][0:5]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
3           4.6          3.1
4           5.0          3.6

In [80]:
iris.loc[5:10,"sepal_length":"petal_length"]

    sepal_length  sepal_width  petal_length
5            5.4          3.9           1.7
6            4.6          3.4           1.4
7            5.0          3.4           1.5
8            4.4          2.9           1.4
9            4.9          3.1           1.5
10           5.4          3.7           1.5

iris["sepal_length"] = takes the column as a one-dimensional data array.
iris[\["sepal_length"]] = takes the column as pandas dataframe.
iris[2:5]  = Retrieves rows from line 3 (index number 2) to line 5 (index number 4).
iris.loc[5] = takes the column as a one-dimensional data array.
iris.loc[\[5]] = takes the column as pandas dataframe.
iris.iloc[\[5]] = Retrieves the row with index number 1.

PANDAS DATA ANALYSIS

Values such as minimum, maximum, mean, standard deviation, median, 25% slice are available in the .describe() method of the pandas module.

In [81]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [82]:
iris["class"].describe()

count             150
unique              3
top       Iris-setosa
freq               50
Name: class, dtype: object

We can use the .unique() method to see which categorical variables are included in a column.

In [83]:
iris["class"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

.count() method is available to separately calculate summary values such as mean and standard deviation of numerical information.

In [84]:
iris.count()

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
class           150
dtype: int64

In [85]:
data = ["petal_length",'petal_width']
iris[data].count()

petal_length    150
petal_width     150
dtype: int64

Mean ----> .mean()
Standard deviation ----> .std()
Median ----> .median()
Percentile ----> .quantile(y)  y is amount of percentile

In order to make row-based calculations, we need to specify the axis='columns' argument in the method.

In [102]:
iris.mean(axis='columns')

C:\Users\batuh\AppData\Local\Temp\ipykernel_15580\987785517.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean(axis='columns')

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
       ...
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

In [87]:
iris.mean(axis=1)

C:\Users\batuh\AppData\Local\Temp\ipykernel_15580\1464791641.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean(axis=1)

0      2.550
1      2.375
2      2.350
3      2.350
4      2.550
       ...
145    4.300
146    3.925
147    4.175
148    4.325
149    3.950
Length: 150, dtype: float64

In [88]:
iris.mean(axis='rows')

C:\Users\batuh\AppData\Local\Temp\ipykernel_15580\2870185531.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  iris.mean(axis='rows')

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

The way to make conditional selection in text type columns is to apply the .str method.

In [89]:
iris2 = pd.read_csv("iris-write-from-docker.csv")
cond = iris2["class"].str.contains("Iris-setosa")
setosa = iris2[cond]
iris2.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

CONDITIONAL CHOICES

In [90]:
iris[iris.sepal_length > 7.5]

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

In [91]:
iris[(iris.sepal_length > 6.5) & (iris.petal_length <4.5)]

    sepal_length  sepal_width  petal_length  petal_width            class
65           6.7          3.1           4.4          1.4  Iris-versicolor
75           6.6          3.0           4.4          1.4  Iris-versicolor

In [92]:
iris[(iris.sepal_length > 7.5) | (iris.petal_length > 6.5)]

     sepal_length  sepal_width  petal_length  petal_width           class
105           7.6          3.0           6.6          2.1  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
122           7.7          2.8           6.7          2.0  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica

It is also possible to pull data in another column by applying a condition to the data of one column. For example, let's see the petal length values of the rows with the sepal length value > 7.5.

In [93]:
iris.petal_length[iris.sepal_length > 7.5]

105    6.6
117    6.7
118    6.9
122    6.7
131    6.4
135    6.1
Name: petal_length, dtype: float64

Finally, let's take a look at the reshaping and manipulation operations that can be performed on Pandas dataframes. Let's create the following df dataframe to use in our examples.

In [94]:
variable = np.repeat(['A','B','C','D'],[3,3,3,3],axis=0)
val = np.random.random(12)
df_dict = {'variable':variable,'value':val}
df = pd.DataFrame(df_dict)
df = df[['variable','value']]
df

   variable     value
0         A  0.658697
1         A  0.986387
2         A  0.980378
3         B  0.848280
4         B  0.600380
5         B  0.131574
6         C  0.188967
7         C  0.202935
8         C  0.431972
9         D  0.960973
10        D  0.839120
11        D  0.903636

Now let's change this dataframe so that it has variable names A,B,C,D. There is a .pivot() method for this.

In [95]:
df2 = df.pivot(columns='variable',values='value')
df2

variable         A         B         C         D
0         0.658697       NaN       NaN       NaN
1         0.986387       NaN       NaN       NaN
2         0.980378       NaN       NaN       NaN
3              NaN  0.848280       NaN       NaN
4              NaN  0.600380       NaN       NaN
5              NaN  0.131574       NaN       NaN
6              NaN       NaN  0.188967       NaN
7              NaN       NaN  0.202935       NaN
8              NaN       NaN  0.431972       NaN
9              NaN       NaN       NaN  0.960973
10             NaN       NaN       NaN  0.839120
11             NaN       NaN       NaN  0.903636

There is a .melt() method to rewrite columns line by line.

In [96]:
df3 = df2.melt(value_vars=['A','B','C','D'],value_name='value').dropna()
df3

   variable     value
0         A  0.658697
1         A  0.986387
2         A  0.980378
15        B  0.848280
16        B  0.600380
17        B  0.131574
30        C  0.188967
31        C  0.202935
32        C  0.431972
45        D  0.960973
46        D  0.839120
47        D  0.903636

The .merge() method is used to merge two dataframes using a key column.

In [97]:
dict2 = {'X':['Ali','Baran','Mehmet'] , 'Y1':[97,85,76]}
dict3 = {'X':['Ali','Baran','Umut'] , 'Y2':[75,94,96]}

df4 = pd.DataFrame(dict2)
df5 = pd.DataFrame(dict3)

print(df4)
print(df5)

        X  Y1
0     Ali  97
1   Baran  85
2  Mehmet  76
       X  Y2
0    Ali  75
1  Baran  94
2   Umut  96

In [98]:
df6 = pd.merge(df4,df5,how='left',on='X')
df6

        X  Y1    Y2
0     Ali  97  75.0
1   Baran  85  94.0
2  Mehmet  76   NaN

In [99]:
df7 = pd.merge(df4,df5,how='right',on='X')
df7

       X    Y1  Y2
0    Ali  97.0  75
1  Baran  85.0  94
2   Umut   NaN  96

In [100]:
df8 = pd.merge(df4,df5,how='inner',on='X')
df8

       X  Y1  Y2
0    Ali  97  75
1  Baran  85  94

In [101]:
df9 = pd.merge(df4,df5,how='outer',on='X')
df9

        X    Y1    Y2
0     Ali  97.0  75.0
1   Baran  85.0  94.0
2  Mehmet  76.0   NaN
3    Umut   NaN  96.0